<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<img src="/static/images/tm5.jpg" alt="Imgae not found" width="600" height="400">
<h3>software engineers:</h3>
<p>
Akhila says when you meet the right person, you will be united, come what may.

It all started over a cup of coffee

Marriage has brought bliss into this couple's lives. Akhila and Harideep give me a sneak peek into their story. Harideep begins, "After I found my wife on BharatMatrimony, our first meeting was a very formal one but it's on our second meet that we got some time to ourselves. We met in a shopping mall and got to know many things about each other over a cup of coffee."

I begin a candid conversation with the strong, confident and independent Akhila, who confesses that one quality she loved about Harideep when they met, "I wanted someone with a similar professional background and most importantly who gave me my independence. He got a tick for all the points in my checklist. But on top of all this, I got some positive vibes when I met him."

A special surprise on Valentine's Day

Harideep sounds very calm but is filled with enthusiasm to narrate his story. He tells me about that special day when he surprised his lady love. "I had planned a surprise for her on the Valentine's Day and took her to an amusement park. It was a day well spent and we got a lot of time to ourselves." When I ask him if she surprised him ever and he says that she gave him gifts every day during the Valentine week.

I mention this incident while chatting with Akhila and she is all blushes when she recalls that special day, "Yes, he gave me a surprise and it was extremely flattering and delightful. It felt really special." Indeed it was!

Some similarities, some differences

The couple agree to the fact that they are neither similar nor opposites. Akhila tells me, "I cook his favourite dishes”, to which Harideep adds, "I buy whatever she likes. We do not have similar tastes and have a lot of difference." But Akhila completes the statement, "Difference becomes the essence of marriage." I couldn't disagree!

Akhila recalls that one very special moment that she will cherish for eternity, "He gifted me a pair of ear rings on the day of our wedding." I could sense the smile she had on her face while narrating the incident.

How do you spend your time together? "Our work places are very close to each other’s, so we travel together. This was also the reason why we could meet many times during our courtship days”, says Harideep.

"Love and understanding is the essence of marriage" - Akhila and Harideep</p>
<p style="border: 1px solid black;" align="center">If you'd like to find your perfect partner,<a href="/singup" class='btn btn-sl btn-success'>Rigester Free</a>now.</p>
<br><br>
{%endblock%}
