<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<img src="/static/images/tm3.jpg" alt="">
<h3>Thank You somutch..:</h3>
<p>Saraswathi and Sirish are completely opposite in their tastes and preferences but they love each other for who they are. Even though they were really fond of each other they realized how much they were in love only after marriage. Sirish starts the conversation, “Even though we were in love, we never expressed it to each other. I consider myself really lucky to have found my perfect match through BharatMatrimony. Last year at this time, I was in a vigorous search for a bride and now I am happily married to the love of my life.”

Saraswathi adds how she made the decision to choose him, “We liked each other in our first meet

itself and then with regular phone conversations and dates I started falling for him but I didn’t express my love for him. But somewhere both of knew that we like each other.”

Any funny incidents you recall with each other?

Sirish recalls one of the best moments that happened on his wedding, “There was a ceremony where they put a ring in a pot and we have to search for it and the first one to find it is the winner. We both competitively played and both of us ended up finding the ring at the same time. It was one of the best moments I would say.”

Continuing the conversation, I ask the couple as to how they spend time with each other? Sarswathi says, “We spend the weekends together when we usually go for shopping. I love shopping and we end the day with a good meal at a restaurant. In this way, we also get to spend time with each other”

Sirish says, “I love her so much. I love what she loves too and she loves shopping so I also go along with her. I can do anything for her happiness.”

What does marriage means to you?

Sirish says, “Marriage is a journey filled with good and bad times, happiness and obstacles, which the couple lives together and stays happily together.”

Saraswathi says, “Life has changed a lot after marriage but this is beautiful in its own way and that is the beauty of it.”

Aren’t these two madly in love with each other?</p>

Wishing them a wonderful year ahead!

<p style="border: 1px solid black;" align="center">If you'd like to find your perfect partner,<a href="/singup" class='btn btn-sl btn-success'>Rigester Free</a>now.</p>
<br><br>
{%endblock%}
