<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<div class="container" align="center">
<h1>Login</h1>
<form method="post">
  {{form.as_p}}
  {% csrf_token %}
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class='btn btn-sl btn-success'>Request Password Rest</button>
</form>
<br>
<br><br><br><br><br><br><br><br><br><br>
</div>
{%endblock%}
